<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meteorologia{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/estilo.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <h1>Aplicação de Meteorologia</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'meteo:index' %}">Previsão de Hoje</a></li>
                <li><a href="{% url 'meteo:previsao' %}">Previsão para 5 Dias</a></li>
                <li><a href="{% url 'meteo:api_documentation' %}">Documentação da API</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>2024 Meteorologia</p>
    </footer>
</body>
</html>
