{% extends 'layout.html' %}

{% block content %}
    <h3>Login</h3>

    {% if mensagem %}
      <p>mensagem: {{ mensagem }}</p>
    {% endif %}

    <!-- formulário que pede as credenciais
    e as reenvia para a view 'login'. -->

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username..">
      <input type="password" name="password" placeholder="Palavra-chave..">
      <input type="submit">
    </form>

    <a href="{% url 'registo' %}">
      <button>Registar</button>
    </a>

    <a href="{% url 'reset_password' %}">
      <button>Recuperar Palavra-chave</button>
    </a>

{% endblock %}
