{% extends 'layout.html' %}

{% block content %}
    <h3>Registo</h3>
    
    <form action="{% url 'registo' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="O seu username..">
      <input type="text" name="nome" placeholder="O seu nome..">
      <input type="text" name="apelido" placeholder="O seu apelido..">
      <input type="email" name="email" placeholder="O seu email..">
      <input type="password" name="password" placeholder="Defina a sua Palavra-chave..">
      <input type="submit" value="Criar">
    </form> 
    
    <a href="{% url 'login' %}">Cancelar</a>

{% endblock %}