<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <nav>
        <a href="{% url 'pwsite:index' %}">Introducao</a>
        <a href="{% url 'pwsite:sobre' %}">Info</a>
        <a href="{% url 'pwsite:interesses' %}">Interesses</a>
    </nav>

    <title>Programação Web</title>
</head>
<body>

    <header>
        <h1>Programação Web</h1>
    </header>

    <main>
      <h2>Interesses:</h2>
      <p>Websites interativos</p>
      <p>Web Site com difrentes Posts de Criaçoes Humanans e não Humanas</p>
      <p>Web Site com sistema E-Commerce, para realizar compras</p>

    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>