<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Festivais</title>
</head>
<body>
    <header>
        <h1>Festivais</h1>
    </header>

    <main>
        <h2>{{ festival.nome }}, {{ festival.localizacao.nome }}</h2>
        <h3>Bandas:</h3>
        <ul>
            {% for banda in festival.bandas.all %}
                <li>{{ banda.nome }}</li>
            {% endfor %}
        </ul>
        {% if festival.imagem %}
            <img src="{{ festival.imagem.url }}" alt="Imagem de {{ festival.nome }}">
        {% else %}
            <p>Nenhuma imagem disponível.</p>
        {% endif %}
        <p>
            <a href="{% url 'festivais:lista_festivais' %}">Lista de Festivais</a>
        </p>
    </main>

    <footer>
        <p>2024</p>
    </footer>
</body>
</html>