<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Festivais</title>
</head>
<body>
    <header>
        <h1>Festivais</h1>
    </header>

    <main>
        {% for localizacao in localizacaos %}
            <h2>{{ localizacao.nome }}</h2>
            <ul>
                {% for festival in localizacao.festival_set.all %}
                    <li>
                        <a href="{% url 'festivais:detalhe_festival' festival.id %}">{{ festival.nome }}</a> - Bandas:

                        {% for banda in festival.bandas.all %}
                            {{ banda.nome }},
                        {% endfor %}

                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </main>

    <footer>
        <p>2024</p>
    </footer>
</body>
</html>
